<div class="row">
    <div class="col-md-5">
        <app-recipie-list></app-recipie-list>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
    </div>
</div>















<!-- <div class="row">
    <div class="col-md-5">

        <app-recipie-list></app-recipie-list>
    </div>
    <div class="col-md-7">
        <app-recipie-detail *ngIf="recipieSelected; else map" [recipie]="recipieSelected"></app-recipie-detail>
        <ng-template #map>
            <p>pick a recipie!</p>;
        </ng-template>
    </div>
</div> -->