<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="div alert alert-success" *ngIf="error || confirmMessage" [ngClass]="{'alert-danger': error,
        'alert-success': confirmMessage}">
            {{error ? error : confirmMessage}}
        </div>
        <div class="div" *ngIf="isLoading">
            <app-loadingspinner></app-loadingspinner>
        </div>
        <form [formGroup]="inputForm" (ngSubmit)="submitForm(inputForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>
            <div>
                <button class="btn btn-success" type="submit" [disabled]="!inputForm.valid">{{!inLoginMode ? 'Register'
                    : 'Login'}}</button> |
                <button class="btn btn-primary" type="button" (click)="switchToLogin()">
                    {{!inLoginMode ? 'Switch to login' : 'Switch to register'}}</button>
            </div>
        </form>
    </div>
</div>