<form [formGroup]="editForm" (ngSubmit)="editFormSubmit()">
    <div *ngIf="recipie; else map" class="container">
        <div class="row">
            <div class="col-xs-12">
                <label>Recipie name</label>
                <input type="text" formControlName="recipieName">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Recipie description</label>
                <input type="text" formControlName="recipieDescription">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img [src]="editForm.get('recipieImagePath').value" alt="{{editForm.get('recipieName').value}}"
                    class="img-responsive" style="max-height: 200px">
            </div>
        </div>
        <button type="submit">Submit</button>
    </div>
    <ng-template #map>
        <p>Select Recipie</p>
    </ng-template>
</form>