<div class="row">\
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipie</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let a of recipies">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{a.name}}</h4>
                <p class="list-group-item-text">{{a.description}}</p>
            </div>
            <span class="pull-right">
                <img alt="" src="{{a.imagePath}}" class="img-responsive" style="max-height: 50px;">
            </span>
        </a>
        <app-recipie-item></app-recipie-item>
    </div>
</div>